<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>senapvfehcreg@tznvy.pbz</string>
	<key>contactName</key>
	<string>Francis Rupert</string>
	<key>description</key>
	<string>Quick and Dirty SASS stuff</string>
	<key>name</key>
	<string>France-SASS</string>
	<key>uuid</key>
	<string>07D3F8D1-C738-4CBE-A8C9-1D01CC6D6F1C</string>
</dict>
</plist>
